.page-title {
    font-weight: 300;
    font-size: 2em;
    text-align: left;
}
  
.pd {
    padding: 2.5em 0 1.5em 0;
}

.subtitle-new {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.25;
    margin-bottom: 1.5rem;
}

.faq-title {
    font-weight: 300;
    font-size: 30px;
    text-align: left;
    line-height: normal;
}
  
.faq-body {
    margin-top: 10px !important;
    color: gray;
    text-align: left;
}
  
.columns {
    flex-wrap: wrap;
}