.footer {
    background-color: #00d1b2 !important;
    color: #fff;
    text-align: left;
}

.foot-desc {
    font-size: 1.5rem;
}

.answer {
    font-size: 1rem;
}

.social-icon {
    color: #fff;
    margin-left: 20px;
}