.navbar-end > .navbar-item {
    padding: 0.5rem 1.75rem;
}

#brand {
    font-size: 1em;
    font-weight: bold;
    padding-left: 1.75rem;
    margin-top: .5em;
  }

.navbar {
    background-color: #383838;
    a:hover {
        color: gray;
    } 
}

a.navbar-item {
    text-align: left;
    color: gray;
    padding: 0.5rem 1.75rem;
}

a.navbar-item:hover {
    background-color: #fafafa;
    color: #3273dc;
}